<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome to Home Sphere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-title>Empowering Your World with Home Sphere</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <ion-text color="warning">
        <p class="ion-margin-top">Welcome to <strong>Home Sphere</strong>, an innovative app crafted with the <strong>Ionic framework</strong>
          and integrated with <strong>Firebase</strong>. Our application brings the future of home monitoring to your
          fingertips, harnessing the power of advanced <strong>Arduino sensors</strong>.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-title>Real-Time Sensor Integration</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <ion-text color="warning">
        <p>Our array of sensors from Arduino seamlessly connects with Firebase's Realtime Database, offering you:</p>
        <ul>
          <li><strong>Instantaneous Updates:</strong> Get real-time readings from sensors, ensuring you're always
            informed.</li>
          <li><strong>Accurate Monitoring:</strong> From temperature to motion detection, our sensors provide precise
            data.</li>
          <li><strong>User-Friendly Interface:</strong> Easy-to-navigate app design for efficient monitoring and
            control.</li>
        </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="success">
      <ion-card-title>Sensors At Work</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <ion-text color="warning">
        <p>Explore how each sensor contributes to your smart environment:</p>
        <ul>
          <li><strong>Temperature Sensor:</strong> Keeps your living space at the perfect temperature.</li>
          <li><strong>Humidity Sensor:</strong> Monitors moisture levels for comfort and health.</li>
          <li><strong>Pressure Sensor:</strong> Tracks atmospheric pressure, crucial for weather forecasting and indoor
            comfort.</li>
          <li><strong>Moisture Sensor:</strong> Ideal for plant care, ensuring your indoor greenery receives the right
            amount of water.</li>
          <li><strong>CO2 Sensor:</strong> Ensures the air you breathe is clean and safe, vital for maintaining healthy
            indoor air quality.</li>
          <li><strong>Gas Resistance Sensor:</strong> Detects harmful gases, playing a key role in preventing indoor air
            pollution.</li>
          <li><strong>Volatile Organic Compounds (VOC) Sensor:</strong> Monitors VOC levels, essential for identifying
            indoor air contaminants and ensuring a healthier living space.</li>
          <li><strong>Motion Sensors (PIR):</strong> Enhances security by detecting unexpected movements while you're on holiday</li>
        </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>