<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Humidity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Humidity</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Current Humidity -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Humidity Timeframe Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6">
            <ion-text color="secondary" class="humidity-info">
              <h2 class="ion-text-center core-indicator-label">Current Humidity</h2>
              <p class="ion-text-center main-indicator-label">{{ currentHumidity?.toFixed(2) }} %</p>
              <p class="ion-text-center core-indicator-label">Min Humidity</p>
              <p class="ion-text-center main-indicator-label">{{ minHumidity?.toFixed(2) }} %</p>
              <p class="ion-text-center core-indicator-label">Max Humidity</p>
              <p class="ion-text-center main-indicator-label">{{ maxHumidity?.toFixed(2) }} %</p>
            </ion-text>
          </ion-col>

          <!-- Right Column -->
          <ion-col size="6">
            <ion-img src="/assets/images/humidityPngImage.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-text color="warning">
      <h2 class="ion-text-center">Chose timeframe</h2>
    </ion-text>
  </ion-card>


  <!-- Timeframe Selection Buttons -->
  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-row>
        <ion-col size="6">
          <ion-segment-button class="button-timeframe-design" value="hour">
            <ion-label class="ion-text-wrap">Last Hour</ion-label>
          </ion-segment-button>
        </ion-col>

        <ion-col size="6">
          <ion-segment-button value="day">
            <ion-label class="ion-text-wrap">Last Day</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-segment-button value="week">
            <ion-label class="ion-text-wrap">Last Week</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="month">
            <ion-label class="ion-text-wrap">Last Month</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="year">
            <ion-label class="ion-text-wrap">Last Year</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-segment>
  </ion-card>

  <!-- Humidity Trend for the Current Day -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Humidity Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="humidityChart"></canvas>
    </ion-card-content>
  </ion-card>