<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Sensor Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sensor Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sensor Data Information -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Sensor Data Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Sensor Data Column -->
          <ion-col size="12">
            <ion-text color="secondary" class="sensor-info">
              <h2 class="ion-text-center core-indicator-label">Current Readings</h2>
              <p class="ion-text-center main-indicator-label">CO2: {{ currentCO2?.toFixed(2) }} ppm</p>
              <p class="ion-text-center main-indicator-label">Gas Resistance: {{ currentGasResistance?.toFixed(2) }} MΩ</p>
              <p class="ion-text-center main-indicator-label">VOC: {{ currentVOC?.toFixed(2) }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Timeframe Selection Buttons -->
  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-segment-button value="hour">
        <ion-label class="ion-text-wrap">Last Hour</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label class="ion-text-wrap">Last Day</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label class="ion-text-wrap">Last Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label class="ion-text-wrap">Last Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label class="ion-text-wrap">Last Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <!-- Sensor Data Chart -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sensor Data Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="sensorDataChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
