<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Air Quality</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Air Quality</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Current Air Quality Data -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Air Quality Timeframe Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6">
            <ion-text color="secondary" class="air-quality-info">
              <h2 class="ion-text-center core-indicator-label">Current CO2</h2>
              <p class="ion-text-center main-indicator-label">{{ currentCO2?.toFixed(2) }} ppm</p>
              <h2 class="ion-text-center core-indicator-label">Gas Resistance</h2>
              <p class="ion-text-center main-indicator-label">{{ currentGasResistance?.toFixed(2) }} MΩ</p>
              <h2 class="ion-text-center core-indicator-label">VOC</h2>
              <p class="ion-text-center main-indicator-label">{{ currentVOC?.toFixed(2) }}</p>
            </ion-text>
          </ion-col>
          
          <!-- Right Column -->
          <ion-col size="6">
            <ion-img src="/assets/images/airQualityImage.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Timeframe Selection Buttons -->
  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-segment-button value="hour">
        <ion-label class="ion-text-wrap">Last Hour</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label class="ion-text-wrap">Last Day</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label class="ion-text-wrap">Last Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label class="ion-text-wrap">Last Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label class="ion-text-wrap">Last Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <!-- Air Quality Trend Chart -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Air Quality Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="airQualityChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
