<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Security Status</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Security Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h2 class="ion-text-center core-indicator-label">
            Holiday Mode {{ holidayMode ? 'is On' : 'is Off' }}
          </h2>
        </ion-col>
        <ion-col size="6" class="ion-text-center ion-align-self-center">
          <ion-toggle [(ngModel)]="holidayMode" (ionChange)="toggleHolidayMode()"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  

  <!-- Current PIR State -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Security Status Timeframe Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6">
            <ion-text color="secondary" class="pir-state-info">
              <h2 class="ion-text-center core-indicator-label">PIR State Reading</h2>
              <!-- rendering based on data availability -->
              <p *ngIf="currentpirState != null" class="ion-text-center main-indicator-label">{{ currentpirState }}</p>
              <p *ngIf="currentpirState == null" class="ion-text-center">No data available for this timeframe.</p>
            </ion-text>
          </ion-col>

          <!-- Right Column -->
          <ion-col size="6">
            <ion-img src="/assets/images/security.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Timeframe Selection Buttons -->
  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-row>
        <ion-col size="6">
          <ion-segment-button class="button-timeframe-design" value="hour">
            <ion-label class="ion-text-wrap">Last Hour</ion-label>
          </ion-segment-button>
        </ion-col>

        <ion-col size="6">
          <ion-segment-button value="day">
            <ion-label class="ion-text-wrap">Last Day</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-segment-button value="week">
            <ion-label class="ion-text-wrap">Last Week</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="month">
            <ion-label class="ion-text-wrap">Last Month</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="year">
            <ion-label class="ion-text-wrap">Last Year</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-segment>
  </ion-card>

  <!-- PIR State Trend for the Current Day -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Security Status Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="pirStateChart"></canvas>
    </ion-card-content>
    
  </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-title>PIR State Legend</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="legend-indicator" style="background-color: green;  height: 10px;"></div>
          <p class="legend-text">Movement Not Detected (PIR State: 0)</p>
        </ion-col>
        <ion-col size="6">
          <div class="legend-indicator" style="background-color: red; height: 10px;"></div>
          <p class="legend-text">Movement Detected (PIR State: 1)</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>