<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Security Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Security Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Current PIR State -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Security Status Timeframe Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6">
            <ion-text color="secondary" class="pir-state-info">
              <h2 class="ion-text-center core-indicator-label">Current PIR State</h2>
              <p class="ion-text-center main-indicator-label">{{ currentpirState }}</p>
            </ion-text>
          </ion-col>
          
          <!-- Right Column -->
          <ion-col size="6">
            <!-- Placeholder for any related image or content -->
            <!-- <ion-img src="/assets/images/pirStateImage.png"></ion-img> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-segment-button value="hour">
        <ion-label class="ion-text-wrap">Last Hour</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day">
        <ion-label class="ion-text-wrap">Last Day</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label class="ion-text-wrap">Last Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label class="ion-text-wrap">Last Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label class="ion-text-wrap">Last Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

  <!-- PIR State Trend for the Current Day -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Security Status Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="pirStateChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
