<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/temperature">
            <ion-icon class="icon-color" name="thermometer" slot="start"></ion-icon>
            <ion-label>Temperature</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/humidity">
            <ion-icon class="icon-color" name="water" slot="start"></ion-icon>
            <ion-label>Humidity</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/pressure">
            <ion-icon class="icon-color" name="speedometer" slot="start"></ion-icon>
            <ion-label>Pressure</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/moisture">
            <ion-icon class="icon-color" name="rainy" slot="start"></ion-icon>
            <ion-label>Moisture</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/air-quality">
            <ion-icon class="icon-color" name="cloudy-night" slot="start"></ion-icon>
            <ion-label>Air Quality</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/security">
            <ion-icon class="icon-color" name="shield-checkmark" slot="start"></ion-icon>
            <ion-label>Security</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/faq">
            <ion-icon class="icon-color" name="help-circle" slot="start"></ion-icon>
            <ion-label>FAQ</ion-label>
          </ion-item>
        </ion-menu-toggle>        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
