<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Ficus Soil Moisture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Ficus Soil Moisture</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Current Moisture -->
  <ion-card class="dataContent">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Moisture Timeframe Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6">
            <ion-text color="secondary" class="moisture-info">
              <h2 class="ion-text-center core-indicator-label">Current Moisture</h2>
              <p class="ion-text-center main-indicator-label">{{ currentMoisture?.toFixed(2) }} %</p>
              <p class="ion-text-center core-indicator-label">Min Moisture</p>
              <p class="ion-text-center main-indicator-label">{{ minMoisture?.toFixed(2) }} %</p>
              <p class="ion-text-center core-indicator-label">Max Moisture</p>
              <p class="ion-text-center main-indicator-label">{{ maxMoisture?.toFixed(2) }} %</p>
            </ion-text>
          </ion-col>

          <!-- Right Column -->
          <ion-col size="6">
            <ion-img src="/assets/images/moisturePngImage.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Timeframe Selection Buttons -->
  <ion-card>
    <ion-segment (ionChange)="updateTimeFrame($event.detail)">
      <ion-row>
        <ion-col size="6">
          <ion-segment-button class="button-timeframe-design" value="hour">
            <ion-label class="ion-text-wrap">Last Hour</ion-label>
          </ion-segment-button>
        </ion-col>

        <ion-col size="6">
          <ion-segment-button value="day">
            <ion-label class="ion-text-wrap">Last Day</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-segment-button value="week">
            <ion-label class="ion-text-wrap">Last Week</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="month">
            <ion-label class="ion-text-wrap">Last Month</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="4">
          <ion-segment-button value="year">
            <ion-label class="ion-text-wrap">Last Year</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-segment>
  </ion-card>

  <!-- Moisture Trend for the Current Day -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Moisture Trend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="moistureChart"></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Moisture Level Legend -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Moisture Level Legend</ion-card-title>
      <p class="white-text ion-text-center">Consider to water the plant when moistore is bellow half average</p>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <!-- Good Level Moisture -->
        <ion-row>
          <ion-col size="12">
            <p class="white-text">Good Level Moisture (0 - 400)</p>
            <div class="legend-indicator" style="background-color: green;"></div>
          </ion-col>
        </ion-row>
        <!-- Medium Level Moisture -->
        <ion-row>
          <ion-col size="12">
            <p class="white-text">Medium Level Moisture (401 - 700)</p>
            <div class="legend-indicator" style="background-color: yellow;"></div>
          </ion-col>
        </ion-row>
        <!-- Low Level Moisture -->
        <ion-row>
          <ion-col size="12">
            <p class="white-text">Low Level Moisture (Above 700)</p>
            <div class="legend-indicator" style="background-color: red;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>