<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Welcome to the Home Page!</p>
  <ion-row>
  
    <ion-col size="6">
        <ion-card (click)="navigateToDetail('temperature')">
        <ion-card-content>
          <h2>Temperature</h2>
          <p>{{ reading.temperature }}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>

    <!-- Box 2: Humidity -->
    <ion-col size="6">
      <ion-card>
        <!-- <ion-card (click)="navigateToDetail('temperature')"> -->
        <ion-card-content>
          <h2>Humidity</h2>
          <p>{{ reading.humidity }}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <!-- <ion-card (click)="navigateToDetail('temperature')"> -->
        <ion-card-content>
          <h2>pressure</h2>
          <p>{{ reading.pressure}}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <!-- <ion-card (click)="navigateToDetail('temperature')"> -->
        <ion-card-content>
          <h2>moisture</h2>
          <p>{{ reading.moisture}}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <!-- <ion-card (click)="navigateToDetail('temperature')"> -->
        <ion-card-content>
          <h2>CO2</h2>
          <p>{{ reading.co2 }}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>

  
    <ion-col size="6">
      <ion-card>
        <!-- <ion-card (click)="navigateToDetail('temperature')"> -->
        <ion-card-content>
          <h2>pirState</h2>
          <p>{{ reading.pirstate }}</p>
        </ion-card-content>
        <ion-button expand="full">View Details</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-col size="6">
    <ion-button ion-col size="6" (click)="turnLedRed()">Turn Red</ion-button>
  </ion-col>
  <ion-col size="6"> <ion-button ion-col size="6" (click)="turnLedGreen()">Turn Green</ion-button></ion-col>

</ion-content>