<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="welcome-text">Welcome to the Dashboard!</p>
  <ion-row>

    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="8">
              <h2>Temperature</h2>
              <p>{{ reading.temperature.toFixed(2) }} °C</p>
            </ion-col>
            <ion-col size="4">
              <ion-img src="/assets/images/thermometerPngImage.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('temperature')">View Details</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="8">
              <h2>Humidity</h2>
              <p>{{ reading.humidity.toFixed(2) }} %</p>
            </ion-col>
            <ion-col size="4">
              <ion-img src="/assets/images/humidityPngImage.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('humidity')">View Details</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="8">
              <h2>Pressure</h2>
              <p>{{ reading.pressure.toFixed(2)}} hPa</p>
            </ion-col>
            <ion-col size="4">
              <ion-img src="/assets/images/pressurePngImage.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('pressure')">View Details</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="8">
              <h2>Moisture</h2>
              <p>{{ reading.moisture}}</p>
            </ion-col>
            <ion-col size="4">
              <ion-img src="/assets/images/moisturePngImage.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('moisture')">View Details</ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="6">
              <h2>CO2</h2>
              <p>{{ reading.co2 / 1000 }} / PPM</p>
              <p>Status</p>
              <ion-card class="co2-level-indicator" [style.background-color]="getCo2LevelColor(reading.co2)"></ion-card>
            </ion-col>
            <ion-col size="6">

              <ion-img src="/assets/images/airQualityImage.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('air-quality')">View Details</ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="uniform-card">
        <ion-card-content class="card-content-custom">
          <ion-row>
            <ion-col size="6">
              <h2>Security</h2>
              <p>{{ getPirStateLabel(reading.pirstate) }}</p>
              <ion-card class="security-indicator"
                [style.background-color]="getPirStateColor(reading.pirstate)"></ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-img src="/assets/images/security.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-button expand="full" (click)="navigateToDetail('security')">View Details</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>